body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
}

div.floating {
    position: absolute;
    background-color: white;
    border: 5px solid gray;
    left: 10px;
    top: 50px;
    z-index: 1;
}

div.grouptitle {
    font-size: 150%;
}

input.numberinput {
    width: 50px;
}
